@import "tailwindcss";
@plugin "daisyui" {
	include: modal;
	themes:
		terminal --default,
		terminal --prefersdark;
}

@plugin "daisyui/theme" {
	name: "terminal";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: black;
	--color-base-200: black;
}

body {
	background-color: black;
	color: white;
}
